h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a, a:hover {
    color: #c92e00;
}

.navbar {
    background: #c92e00;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.sidebar {
    border-right: 1px rgba(0,0,0,.1) solid;
}

.sidebar-nav {
    padding:24px 12px;
}

.sidebar-nav>ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar-logo>img {
    height: 50px;
    width: auto;
}

.content-main {
    padding: 0 12px;
}

.content-main>.section {
    padding: 24px 12px 48px 12px;
}